{% extends 'base.html' %}

{% block title %}<title>Detail Note Page</title>{% endblock %}

{% block content %}

{% for note in notes %}

<h1><b>Title: {{note.title}}</b></h1><hr /><br />
<h3>Body: {{note.body}}</h3>
{% if note.is_pin %}
<h4>Pinned</h4>
{% else %}
<h4>Not Pinned</h4>
<hr /><br />
{% endif %}
<small><b>Created: {{note.created}}</b></small><br />
<small><b>Updated: {{note.updated}}</b></small><hr/>
<h2>Edit</h2>
<a href="{% url 'note:edit' note.id %}" class="btn btn-info">Edit Note</a><hr />
<h2>Delete</h2>
<a href="{% url 'note:delete' note.id %}" class="btn btn-danger">Delete Note</a>
{% endfor %}
{% endblock %}